{% extends 'base_buyer.html' %}
{% load static %}

{% block title %}Buyer Dashboard{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4">Welcome {{ user.username }}</h1>

    {% if messages %}
        <div class="messages mb-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5>Your previous orders</h5>
                </div>
                <div class="card-body">
                    {% if recent_orders %}
                        <ul class="list-group list-group-flush">
                            {% for order in recent_orders %}
                                <li class="list-group-item">
                                    Order: {{ order.created_at}}<br>  
                                    Total: R{{ order.final_price }}<br>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="card-text">There are no orders yet.</p>
                        <a href="{% url 'home_view' %}" class="btn btn-sm btn-primary">Start Shopping</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <div class="text-center mt-5">
        <h3>Here are your other options</h3>
        <a href="{% url 'home_view' %}" class="btn btn-lg btn-info mx-2">All Products</a>
        <a href="{% url 'show_user_cart' %}" class="btn btn-lg btn-warning mx-2">My Cart</a>
    </div>
</div>
{% endblock %}